__pycache__/
.DS_Store
.env
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
*.har
*.mov
*.pyc
*.softhub.zip.tmp
*.tmp
docs/
**/ARCHITECTURE_RU.md
**/PLUGIN_GUIDE_RU.md
**/SOFTWARE_SPEC_RU.md
**/SECURITY_RU.md
**/USER_GUIDE_RU.md
*.log
tests/
thebunkerhood.com.har
